.custom-block-quote {
  quotes: "\201C""\201D""\2018""\2019";
  height: 100%;
  position: relative;
}

.custom-block-quote h3 {

}

.custom-block-quote h3:before {
  content: open-quote;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  color: var(--quote-color);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0.75;
  z-index: -1;
} 
.custom-block-quote h3:after {
  content: close-quote;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  color: var(--quote-color);
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0.5;
  z-index: -1;
}